

<div class='title'>Handlebar </div>
<div class='code'>
<p>
<strong>willInsertElement </strong> function : Because you have no access to the view's DOM fragments. 

</p>

</div>
<div class='title'>Handlebar </div>
<div class='code'>
<p>
HTMLBars pauses data-binding for views that are in the midst of animation. When the animations are done, the binding will resume. This will aid in smooth animated transitions.
</p>
</div>