<div class='title'>Handlebar </div>
<div style="padding:20px 150px 0px 150px"  class='code'>

<img src='with-metamorph.png' >
<br>Lots of script tags. 

{{code-snippet name="compiledhtml1.hbs"}}

</div>


<div  class='title' >HTMLbars </div>
<div style="padding:20px 150px 0px 150px" class='code'>

<img  src='without-metamorph.png' >
<br>Get rid of script tags.
{{code-snippet name="compiledhtml2.hbs"}}

Neither of these two snippets mentioned above are the exact code which handlebars or htmlbars uses. This is just the kind of approach they follows.
So, as you can see, in case of htmlbars, it has more specific knowledge about DOM which helps is to update the exact part which actually needs it. This is a better data binding approach.

</div>





