<h2>Glimmer </h2> is the next-generation rendering engine for Ember.js. Built on top of HTMLBars, streams, and an entirely rewritten view layer, Glimmer offers the best performance of any of the major JavaScript frameworks while remaining backwards compatible with Ember 1.x apps.

<div style="text-align:center;padding:15px">
<img  src='glimmer.png'>
</div>
<br>

for more info <a target='_blank' href="https://github.com/emberjs/ember.js/pull/10501" >https://github.com/emberjs/ember.js/pull/10501 </a>


<p>
for Dbmonster <a target='_blank' href="https://dbmonster.firebaseapp.com/" >https://dbmonster.firebaseapp.com/ </a>
</p>
<h1>At high level there are two type of data flow in front end laguages</h1>

from <a href="https://www.youtube.com/watch?v=VY-r7Ac06ho" >https://www.youtube.com/watch?v=VY-r7Ac06ho</a>

<h2>DATA BINDING</h2>
<ul>
	<li>#Angular</li>
	<li>#Ember</li>	<li>#knocout</li>
</ul>

<div style="text-align:center;padding:15px">
<img  src='2way.png'>
</div>
<br>

<h2>DATA DOWN ACTION UP </h2>
<ul>
	<li>#Flex</li>
	<li>#React</li>
</ul>

<div style="text-align:center;padding:15px">
<img  src='dda.png'>
</div>


<h1>Now the question is how do you know that something has changed. THERE ARE THREE TYPE OF CHANGE DETECTION </h1>

<ul >
	<li style="font-size:25px">Mutation checking </li>--Backbone, Ember

<div style="text-align:center;padding:15px">
<img  src='mt.png'>
</div>
<br>
	<li style="font-size:25px">Dirty checking</li>--Angular 
<div style="text-align:center;padding:15px">
<img  src='dc.png'>
</div>
<br>
	<li style="font-size:25px">Manual checking</li>--React	 
<div style="text-align:center;padding:15px">
<img  src='mn.png'>
</div>
<br>
</ul>


<div style="text-align:center;padding:15px">
<img  src='gl.png'>
</div>



<div style="text-align:center;padding:15px">
<img  src='gl2.png'>
</div>
<div style="text-align:center;padding:15px">
<img  src='gl3.png'>
</div>
<div style="text-align:center;padding:15px">
<img  src='gl4.png'>
</div>


<h1>In HTMLbars therer are 3 way how template are built</h1>
<div style="text-align:center;padding:15px">
<img  src='3p.png'>
</div>



<h2>Build fragement</h2>

<div style="text-align:center;padding:15px">
<img  src='hw.png'>
</div>

<h2>Render node</h2>
<div style="text-align:center;padding:15px">
<img  src='fn.png'>
</div>


<h2>Opcode</h2>
<div style="text-align:center;padding:15px">
<img  src='oc.png'>
</div>

<div style="text-align:center;padding:15px">
<img  src='opcode.png'>
</div>


<div style="text-align:center;padding:15px">
<img  src='consume-opcode.png'>
</div>


<div style="text-align:center;padding:15px">
<img  src='f.png'>
</div>

<br>
<br>


<div style="text-align:center"><h1> RENDER NODE</h1></div>

<div style="text-align:center;padding:15px">
<img  src='r1.png'>
</div>


<div style="text-align:center;padding:15px">
<img  src='r2.png'>
</div>


<p> This what you UI consist off finally - a tree of render node</p>
<div style="text-align:center;padding:15px">
<img  src='r3.png'>
</div>



<p> Probably why components are killing controllers  </p>
<div style="text-align:center;padding:15px">
<img  src='r4.png'>
</div>

<p> Dirty the specific render node by using set </p>
<div style="text-align:center;padding:15px">
<img  src='r5.png'>
</div>


<p> Glimmer vs React </p>
<div style="text-align:center;padding:15px">
<img  src='r6.png'>
</div>

<div style="text-align:center;padding:15px">
<img  src='r7.png'>
</div>



<p>Sever</p>
<div style="text-align:center;padding:15px">
<img  src='r8.png'>
</div>

