<div class='code'>
// app/helpers/full-name.js
{{code-snippet name="helpercode1.hbs"}}
</div>

<div  class='code'>
This helper can be used in a variety of contexts:
{{code-snippet name="helpercode2.hbs"}}

</div>