<div class='title'>Handlebar </div>
<div class='code'>
{{code-snippet name="helper1.hbs"}}

</div>

<div  class='title' >HTMLbars </div>
<div  class='code'>
	{{code-snippet name="helper2.hbs"}}
	
</div>


<h2>ember-truth-helpers  </h2> at <a  target="_blank" href="https://www.npmjs.com/package/ember-truth-helpers">https://www.npmjs.com/package/ember-truth-helpers</a>

<p>HTMLBars template helpers for additional truth logic in if and unless statements.</p>

<img src='truth.png' >		
