<div style="text-align:	center" > <span style="background-color:yellow;text-align:center;"><strong>IT IS THERE INSIDE WITH VERSION 1.13.13</strong> </span></div>

<br>

<div style="text-align:center;">
<span style="background-color: yellow;text-align:center;" ><strong>HTMLbars = handlbar + HTML</strong> </span> 
</div>
<ul>
<li>It’s a new templating library build on top of handlebars.</li>
<li>Simplicity in the markup, removes the need for helpers like bind-attr</li>
<li>It was created to improve the DOM manipulation; hence, the performance.</li>
<li>Atleast 30% faster than handlebars.</li>
<li>Fast DOM cloning; so large lists will be rendered faster.</li>
<li>Get rid of metamorph (script tags).</li>
<li>Unlike Handlebars HTMLBars understands your markup</li>
<li>Builds DOM fragments instead of Strings</li>
<li>Binding update order</li>
<li><span style="background-color:red"> Templates are no more logic-less. You can write #if  (a==b) </span></li>

<li>Structured HTML from server side helps search engine bots.</li>
<li>Minimal use of Garbage collection events.</li>
</ul>