<div class='title'>Handlebar </div>
<div class='code'>
{{code-snippet name="interpolation1.hbs"}}
Handlebars templates are logic-less, so there is no concept of string interpolation. You should instead do that in a computed property inside of your controller/component or else you have to write new helper of such stuff.
</div>

<div  class='title'>HTMLbars</div>
<div  class='code'>
{{code-snippet name="interpolation2.hbs"}}
This is easy!
</div>