<h2>You can pre-compile template on server </h2>

<p>
for more info go <a target='_blank' href="https://github.com/emberjs/ember.js/issues/9938" >https://github.com/emberjs/ember.js/issues/9938 </a>
</p>

<p>
for more info go <a target='_blank' href="https://github.com/tildeio/ember-cli-fastboot" >https://github.com/tildeio/ember-cli-fastboot </a>
</p>

