<div class='title'>Handlebar </div>
<div class='code'>
{{code-snippet name="style1.hbs"}}
Need to write JavaScript for style. This is weird! 
</div>

<div  class='title' >HTMLbars </div>
<div  class='code'>
	{{code-snippet name="style2.hbs"}}
	This is easy!
</div>