<div class='title'>Handlebar </div>
<div class='code'>
{{code-snippet name="syntax1.hbs"}}

It doesn't understand markup. So it will not understand if the expression is in a tag or inside an attribute. Hence we need to use Handlebars helpers such as
<strong>bind-attr</strong>
</div>

<div  class='title'>HTMLbars</div>
<div  class='code'>
{{code-snippet name="syntax2.hbs"}}
This is easy!
</div>